# Rug Standard Types

#foreach($kind in $kinds )
$h2 `${kind.name()}`
**${kind.description()}**
*Parent*: ${kind.parent()}

#foreach ($op in $kind.typeInformation().operationsAsJava())

$h3 `${op.name()}`
    ${op.description()}

#foreach ($p in $op.parametersAsJava())
$p

#end

#end
#end
