.md-nav__link:active {
    color: #172330;
}

.md-nav__link:hover {
    color: #172330;
}

/* OVERRIDES OF MATERIAL THEME IN LIEU OF CUSTOM THEME */

body, input {
    font-family: aktiv-grotesk,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1, h2, h3 {
	color: #484848 !important;
	font-weight: 500 !important;
}

h4, h5 {
	color: #484848 !important;
	font-weight: 700 !important;
}

h1 {
	margin-bottom: 20px !important;
}

.md-typeset a {
	color: #227F7E !important;
}

.md-header {
	box-shadow: none !important;
	height: 75px !important;
}

.md-header-nav {
	height: 75px !important;
}

.visit-main-site {
	font-size: 14px;
	line-height: 75px;
	padding-right: 25px;
	text-align: right;
}

.md-logo {
	padding-top: 15px !important;
	width: 100% !important;
}

.md-logo img {
	height: 35px !important;
	max-width: 300px !important;
}

.md-search {
 padding: 0 !important;
}

.md-search__inner {
	padding: 0 !important;
}

.md-search__input {
	background-color: #fafafa !important;
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
	font-size: 14px !important;
	height: 47px;
	margin-top: 1px !important;
}

.md-search__icon {
	top: 13px !important;
}

.md-header-nav__title {
	font-size: 14px !important;
	line-height: 50px !important;
}

.title-and-search-bar {
	background-color: #fafafa;
	border-bottom: 1px solid #e4e4e4;
	border-top: 1px solid #e4e4e4;
	height: 50px;
}

.md-container {
	padding-top: 75px !important;
}

.md-main__inner {
	padding-top: 50px !important;
}

.md-sidebar {
	padding: 40px 0 0 0 !important;
}

.md-sidebar--primary {
	border-right: 1px solid #e4e4e4;
}

.md-sidebar--primary .md-nav__item {
	font-family: brandon-grotesque, sans-serif !important;
	font-size: 13px !important;
	font-weight: 700 !important;
	letter-spacing: 1.5px !important;
	margin-bottom: 25px;
	text-transform: uppercase !important;
}

.md-nav__item--nested .md-nav .md-nav__list {
	margin-top: 15px !important;
}

.md-nav__item--nested .md-nav .md-nav__list .md-nav__item {
	font-family: aktiv-grotesk, sans-serif !important;
	font-size: 14px !important;
	font-weight: 400 !important;
	letter-spacing: 0px !important;
	margin-bottom: 10px;
	text-transform: none !important;
}

.md-nav--secondary {
	border-left: 5px solid #eaeaea;
	padding-left: 15px !important;
}

.md-nav--secondary .md-nav__link {
	color: #227F7E !important;
}

.md-nav__title {
	font-family: brandon-grotesque, sans-serif !important;
	font-size: 13px !important;
	font-weight: 700 !important;
	letter-spacing: 1.5px !important;
	margin-bottom: 25px;
	text-transform: uppercase !important;
}

.md-nav__link--active {
	color: #227F7E !important;
}

.md-content__inner {
	padding: 30px !important;
}

.md-typeset .admonition {
	border-left-color: #217f7e !important;
}

.md-typeset .admonition.summary > .admonition-title, .md-typeset details.summary > .admonition-title, .md-typeset .admonition.tldr > .admonition-title, .md-typeset details.tldr > .admonition-title, .md-typeset .admonition.summary > summary, .md-typeset details.summary > summary, .md-typeset .admonition.tldr > summary, .md-typeset details.tldr > summary, .md-typeset .admonition.abstract > .admonition-title, .md-typeset details.abstract > .admonition-title, .md-typeset .admonition.abstract > summary, .md-typeset details.abstract > summary {
	background-color: rgba(34, 127, 126, 0.1) !important;
}

.md-typeset .admonition > .admonition-title, .md-typeset details > .admonition-title, .md-typeset .admonition > summary, .md-typeset details > summary {
	background-color: rgba(34, 127, 126, 0.1) !important;
}

.md-typeset .admonition.summary > .admonition-title::before, .md-typeset details.summary > .admonition-title::before, .md-typeset .admonition.tldr > .admonition-title::before, .md-typeset details.tldr > .admonition-title::before, .md-typeset .admonition.summary > summary::before, .md-typeset details.summary > summary::before, .md-typeset .admonition.tldr > summary::before, .md-typeset details.tldr > summary::before, .md-typeset .admonition.abstract > .admonition-title::before, .md-typeset details.abstract > .admonition-title::before, .md-typeset .admonition.abstract > summary::before, .md-typeset details.abstract > summary::before {
	color: #217f7e !important;
}

.md-typeset .admonition > .admonition-title::before, .md-typeset details > .admonition-title::before, .md-typeset .admonition > summary::before, .md-typeset details > summary::before {
	color: #217f7e !important;
}

.md-footer-nav {
	background-color: #1b2937 !important;
}

.md-footer-nav__direction {
	font-family: brandon-grotesque, sans-serif !important;
	font-size: 11px !important;
	font-weight: 500 !important;
	letter-spacing: 1.5px !important;
	text-transform: uppercase !important;
}

.md-footer-meta {
	background-color: #162330 !important;
	padding: 30px 15px !important;
	text-align: left;
}

.md-footer-copyright {
	color: rgba(255, 255, 255, 0.5) !important;
	font-family: brandon-grotesque, sans-serif !important;
	font-size: 11px !important;
	font-weight: 500 !important;
	letter-spacing: 1.5px !important;
	text-transform: uppercase !important;
}

html .md-footer-meta.md-typeset a.md-footer-social__link {
	color: rgba(255, 255, 255, 0.7) !important;
	font-size: 21px;
	margin-left: 5px;
}

/* OVERRIDES FOR RESPONSIVE ISSUES INTRODUCED WITH OVERRIDES */

@media only screen and (max-width: 44.9375em) {
	.md-footer-meta {
		text-align: center;
	}
}

@media only screen and (max-width: 76.1875em) {

	.md-nav__item--nested .md-nav .md-nav__list {
		margin-top: 0px !important;
	}

	.md-nav--primary .md-nav__link {
		padding: 20px 40px 20px 20px !important;
	}

	.md-nav__source {
		padding-bottom: 15px !important;
		padding-top: 15px !important;
	}

	html .md-nav--primary .md-nav__title {
		height: auto;
		line-height: 1;
		padding: 22px 20px 22px 50px;
	}

	html .md-nav--primary .md-nav__title--site {
		background-color: #227F7E !important;
		color: white !important;
		padding-left: 20px !important;
	}

	.visit-main-site {
		display: none;
	}

	.md-icon--menu {
		padding: 20px 5px !important;
	}

	.md-header-nav__button.md-icon--home, .md-header-nav__button.md-logo {
		display: inline-block !important;
	}

	.md-nav__title {
		margin-bottom: 0px !important;
	}

	.md-nav__item {
		margin-bottom: 0px !important;
	}
}