.md-header {
    background: -webkit-linear-gradient(left, #1c344a 0%, #2d7d7c 50%, #93c26f 100%);
    background: -o-linear-gradient(left, #1c344a 0%, #2d7d7c 50%, #93c26f 100%);
    background: linear-gradient(to right, #1c344a 0%, #2d7d7c 50%, #93c26f 100%);
}
.md-footer-nav {
    background-color: #1a344c;
}
.md-footer-meta {
    background-color: #14283B;
}
.admonition {
    font-size: 1.4rem;
    border-left: 3.2rem solid rgba(45,125,124,.4);
    background-color: rgba(45,125,124,.15);
}
.admonition.summary, .admonition.tldr {
    border-color:rgba(28,52,74,.4);
    background-color:rgba(28,52,74,.15);
}
.admonition.hint, .admonition.important, .admonition.tip {
    border-color: rgba(147,194,111,.4);
    background-color: rgba(147,194,111,.15);
}
.admonition.check, .admonition.done, .admonition.success {
    border-color:rgba(0,142,71,.4);
    background-color:rgba(0,142,71,.15);
}
.admonition.attention, .admonition.caution, .admonition.warning {
    border-color:rgba(255,184,0,.4);
    background-color:rgba(255,184,0,.15);
}
/* Styles for additional elements in the documentation
 * These styles are separate from the underlying mkdocs theme */
a span.button {
    text-decoration: none;
}
.button {
    background-color: #5BC399;
    border: none;
    color: white;
    height: 40px;
    font-family: "brandon-grotesque", sans-serif;
    font-size: medium;
    font-weight: 400;
    line-height: 1;
    padding: 10px 20px;
    position: relative;
    top: 5px;
    right: 5px;
}
.ss-small {
    width: 60%;
}
.ss-medium {
    width: 80%;
}
.ss-large {
    width: 100%;
}
div.button-container, div.ss-container {
    display: block;
    text-align: center;
    padding: 20px;
}
.dark-text {
    color: #1c344a;
}
.mid-text {
    color: #2d7d7c;
}
.light-text {
    color: #93c26f;
}
.highlight {
    color: #208696;
}
.major-point {
    font-size: 1.6rem;
    font-style: oblique;
}
.rugs {
    font-style: oblique;
}
dt {
    font-weight: bold;
}
dd {
    margin-bottom: 10px;
}
